.bar1 {
    width: 200px;
    height: 20px;
    background: red;
    position: absolute;
    z-index: 5;
}
.bar2 {
    width: 200px;
    height: 20px;
    background: yellow;
    position: relative;
}
.number {
    position: absolute;
    top: 1%;
    left: 8%;
    z-index: 10;
}